.custom-button {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--button-bg);
    color: var(--text-color);
    &:hover .button-name {
        transform: translateX(6px);
    }

    &:hover .button-name::before {
        bottom: 0px;
        left: -15px;
        transform: rotate(0deg);
    }

    .button-name {
        transition: all 0.3s ease;
        margin: 0 10px;
        font-weight: 800;
        position: relative;

        &::before {
            content: "➜";
            position: absolute;
            left: -50px;
            bottom: -25px;
            background-color: var(--dark);
            transition: all 0.3s ease;
            color: var(--dark);
            font-size: 12px;
            transform: rotate(-90deg);
        }
    }
    .button-pic-right,
    .button-pic-left {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid var(--dark);
        padding: 2px;
    }
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}
