@use "../../styles/mixin.scss" as *;
.auth {
    @include main-wrapper;
    .info-box {
        margin-bottom: 20px;
        .info-left {
            .user-pic {
                border-radius: 25px;
                margin-bottom: 20px;
            }
        }
    }
}
