.auth {
    margin-top: 100px;
    max-width: 1280px;
    padding: 0 20px;
    margin: 100px auto;
    .info-box {
        .info-left {
            .user-pic {
                border-radius: 25px;
            }
        }
    }
}
