:root {
    --bg-color: #f1f3f4;
    --text-color: #4a5057;
    --border-color: #202124;
    --button-bg: #f1f3f4;
    --button-hover-bg: #f1f3f4;
    --burger-color: #202124;
    --modal-bg-color: rgba(255, 255, 255, 0.5);
    --svg-fill: #f1f3f4;
    --content-bg-color: #fff;
}

.theme-dark {
    --bg-color: #202124;
    --text-color: #f1f3f4;
    --border-color: #f1f3f4;
    --button-bg: #202124;
    --button-hover-bg: #202124;
    --burger-color: #f1f3f4;
    --modal-bg-color: rgba(0, 0, 0, 0.3);
    --svg-fill: #202124;
    --content-bg-color: #393b41;
}
