:root {
    --bg-color: #f1f3f4;
    --text-color: #4a5057;
    --border-color: #202124;
    --button-bg: #f1f3f4;
    --button-hover-bg: #f1f3f4;
    --burger-color: #202124;
    --modal-bg-color: rgba(255, 255, 255, 0.5);
    --svg-fill: #f1f3f4;
}

.theme-dark {
    --bg-color: #202124;
    --text-color: #f1f3f4;
    --border-color: #f1f3f4;
    --button-bg: #202124;
    --button-hover-bg: #202124;
    --burger-color: #f1f3f4;
    --modal-bg-color: rgba(0, 0, 0, 0.3);
    --svg-fill: #202124;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.burger-wrapper {
    span {
        background: var(--burger-color);
    }
}
.links-box {
    @media screen and (max-width: 850px) {
        background: var(--bg-color);
    }
}
.custom-button {
    border: 1px solid var(--border-color);
    background-color: var(--button-bg);
    color: var(--text-color);
    &:hover {
        background-color: var(--button-hover-bg);
    }
}
.logo {
    border: 1px solid var(--border-color);
}
.header-wrapper {
    background-color: var(--bg-color);
}
.project-item-opened {
    background-color: var(--bg-color);
}
.opened-post-wrapper {
    background-color: var(--bg-color);
}
.modal-wrapper {
    background-color: var(--modal-bg-color);
}
.contacts-social {
    svg {
        fill: var(--svg-fill);
    }
}
