.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    padding: 20px;
    @media screen and (max-width: 850px) {
        width: 100%;
    }
    .contact-input {
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px solid #ccc;
    }
    .contact-text-input {
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px solid #ccc;
        min-height: 150px;
        resize: vertical;
    }
    .send-button {
        &:hover {
            transform: scale(1.05);
            @media screen and (max-width: 850px) {
                transform: translateY(-7px);
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            }
        }
    }
}
