.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 1280px;
    width: 720px;
    padding: 40px;
    background-color: #ccc;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
    @media screen and (max-width: 850px) {
        width: 500px;
        padding: 20px;
    }
    @media screen and (max-width: 550px) {
        width: 320px;
        padding: 20px;
    }
    .contact-input {
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px solid #ccc;
    }
    .contact-text-input {
        padding: 10px 20px;
        border-radius: 12px;
        border: 1px solid #ccc;
        min-height: 150px;
        resize: vertical;
    }
}
