.header-wrapper {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    background-color: var(--bg-color);
    left: 0;
    top: 0;
    z-index: 3;
    .header-content-wrapper {
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
        height: 80px;
        max-width: 1280px;
        padding: 0 20px;
        .logo {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px;
            font-weight: 600;
            svg {
                width: 45px;
                height: 45px;
                fill: var(--text-color);
            }
        }

        .links {
            .links-box {
                display: flex;
                gap: 15px;
                padding: 0;
                margin: 0;
                li {
                    list-style: none;
                    .avatar {
                        width: 45px;
                        height: 45px;
                    }
                }
                @media screen and (max-width: 850px) {
                    display: none;
                    flex-direction: column;
                    position: absolute;
                    top: 80px;
                    left: 0;
                    padding: 20px;
                    background: var(--bg-color);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    li {
                        margin: 10px 0;
                    }
                }

                &.open {
                    display: flex;
                    width: 100%;
                }
            }

            .burger-wrapper {
                display: none;
                @media screen and (max-width: 850px) {
                    display: block;
                    cursor: pointer;
                    .burger {
                        width: 25px;
                        height: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        span {
                            display: block;
                            height: 3px;
                            border-radius: 2px;
                            transition: 0.3s;
                            background: var(--burger-color);
                        }
                        &.open {
                            span:nth-child(1) {
                                transform: rotate(45deg) translate(5px, 10px);
                            }
                            span:nth-child(2) {
                                opacity: 0;
                            }
                            span:nth-child(3) {
                                transform: rotate(-45deg) translate(5px, -11px);
                            }
                        }
                    }
                }
            }
        }
    }
}
