@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

:root {
    font-family: "Source Code Pro", serif;
    font-optical-sizing: auto;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: gray;
}

body {
    margin: 0;
    padding: 0;
}

@mixin main-wrapper {
    max-width: 1280px;
    margin: 100px auto 0 auto;
    padding: 0 20px;
}
