.content-manager {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .form-wrapper {
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .show-form-button {
        margin-bottom: 20px;
    }
    .in-active {
        margin-bottom: 0px;
    }
    .content-list {
        .button-box {
            display: flex;
            gap: 15px;
        }
        .preloader {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
